*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-item{
    padding-right: 30px;
    font-size:medium;
    text-transform: uppercase;
}

.nav-link{
    color: black;
    font-weight: 600;
}

.nav-link:hover{
    color: red;
}

.Heading{
    font-size: 3rem;
    font-weight: 900;
    color: rgb(43, 43, 112);
}

.p-head{
    font-size: 1.5rem;
    font-weight: 500;
    
}

.btn1{
    height: 35px;
    width: 15%;
    border: none;
    outline:none;
    background: green;
    color: white;
    font-weight:bold;
    border-radius:60px;
    margin: auto;
}

.btn1:hover{
    background: red;
    transition: .5s;
}

.btn2{
    height: 35px;
    width: 15%;
    border: none;
    outline: none;
    background: green;
    color: white;
    font-weight: bold;
    border-radius: 60px;
    margin: auto;
}

.btn2:hover{
    background: red;
    transition: .5s;
}

.btn3{
    height: 35px;
    width: 15%;
    border: none;
    outline: none;
    background: green;
    color: white;
    font-weight: bold;
    border-radius: 60px;
    margin: auto;
}

.btn3:hover{
    background: red;
    transition: .5s;
}


.span{
    font-size: 1.6rem;
    font-weight: 500;
    color: maroon;
}

.pera{
    font-size: 2rem;
    font-weight: 500;
    font-display:bold;
    color: black;
}

.resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #050d18;
}

.resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #1f5297;
    position: relative;
}

    .resume .resume-item h4 {
        line-height: 18px;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        color: #050d18;
        margin-bottom: 10px;
    }

    .resume .resume-item h5 {
        font-size: 16px;
        background: #e4edf9;
        padding: 5px 15px;
        display: inline-block;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .resume .resume-item ul {
        padding-left: 20px;
    }

        .resume .resume-item ul li {
            padding-bottom: 10px;
        }

    .resume .resume-item:last-child {
        padding-bottom: 0;
    }

    .resume .resume-item::before {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50px;
        left: -9px;
        top: 0;
        background: #fff;
        border: 2px solid #1f5297;
    }



/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
    padding-bottom: 130px;
}

    .contact .info {
        padding: 30px;
        background: #fff;
        width: 100%;
        box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    }

        .contact .info i {
            font-size: 20px;
            color: #149ddd;
            float: left;
            width: 44px;
            height: 44px;
            background: #dff3fc;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50px;
            transition: all 0.3s ease-in-out;
        }

        .contact .info h4 {
            padding: 0 0 0 60px;
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 5px;
            color: #050d18;
        }

        .contact .info p {
            padding: 0 0 10px 60px;
            margin-bottom: 20px;
            font-size: 14px;
            color: #173b6c;
        }

        .contact .info .email p {
            padding-top: 5px;
        }

        .contact .info .social-links {
            padding-left: 60px;
        }

            .contact .info .social-links a {
                font-size: 18px;
                display: inline-block;
                background: #333;
                color: #fff;
                line-height: 1;
                padding: 8px 0;
                border-radius: 50%;
                text-align: center;
                width: 36px;
                height: 36px;
                transition: 0.3s;
                margin-right: 10px;
            }

                .contact .info .social-links a:hover {
                    background: #149ddd;
                    color: #fff;
                }

        .contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
            background: #149ddd;
            color: #fff;
        }

    .contact .php-email-form {
        width: 100%;
        padding: 30px;
        background: #fff;
        box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    }

        .contact .php-email-form .form-group {
            padding-bottom: 8px;
        }

        .contact .php-email-form .validate {
            display: none;
            color: red;
            margin: 0 0 15px 0;
            font-weight: 400;
            font-size: 13px;
        }

        .contact .php-email-form .error-message {
            display: none;
            color: #fff;
            background: #ed3c0d;
            text-align: left;
            padding: 15px;
            font-weight: 600;
        }

            .contact .php-email-form .error-message br + br {
                margin-top: 25px;
            }

        .contact .php-email-form .sent-message {
            display: none;
            color: #fff;
            background: #18d26e;
            text-align: center;
            padding: 15px;
            font-weight: 600;
        }

        .contact .php-email-form .loading {
            display: none;
            background: #fff;
            text-align: center;
            padding: 15px;
        }

            .contact .php-email-form .loading:before {
                content: "";
                display: inline-block;
                border-radius: 50%;
                width: 24px;
                height: 24px;
                margin: 0 10px -6px 0;
                border: 3px solid #18d26e;
                border-top-color: #eee;
                -webkit-animation: animate-loading 1s linear infinite;
                animation: animate-loading 1s linear infinite;
            }

        .contact .php-email-form .form-group {
            margin-bottom: 15px;
        }

        .contact .php-email-form label {
            padding-bottom: 8px;
        }

        .contact .php-email-form input, .contact .php-email-form textarea {
            border-radius: 0;
            box-shadow: none;
            font-size: 14px;
        }

        .contact .php-email-form input {
            height: 44px;
        }

        .contact .php-email-form textarea {
            padding: 10px 15px;
        }

        .contact .php-email-form button[type="submit"] {
            background: #149ddd;
            border: 0;
            padding: 10px 24px;
            color: #fff;
            transition: 0.4s;
            border-radius: 4px;
        }

            .contact .php-email-form button[type="submit"]:hover {
                background: #37b3ed;
            }

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}





